@font-face {
    font-family: 'Jost-Hairline';
    src: url('Fonts/Jost/Jost-100-Hairline.ttf');

};
    
@font-face {
        font-family: 'Jost-Semi';
        src: url('Fonts/Jost/Jost-600-Semi.ttf');
    };

@font-face {
        font-family: 'Jost-Bold' ;
        src: url('Fonts/Jost/Jost-700-Bold.ttf');
    };
