

@font-face {
    font-family: 'Jost-Hairline';
    src: url('./Fonts/Jost/Jost-100-Hairline.ttf');

}
    
@font-face {
        font-family: 'Jost-Semi';
        src: url('./Fonts/Jost/Jost-600-Semi.otf');
}

@font-face {
        font-family: 'Jost-Bold' ;
        src: url('./Fonts/Jost/Jost-700-Bold.otf');
}




.button{
    display: block;
    background-color: transparent;
    height: 45px;
    width: 70px;
    margin: 20px 200px 0 auto;
    border-radius: 10px;
    border-color: azure;
    color: azure;
}

.button:hover{
    background-color:#999c99;
    height: 45px;
    width: 70px;
    border-radius: 10px;
    border: none;
    color: azure;
}

.btn{
background-color: transparent;
border: none;
color: #999c99 ;
}

.btn:hover{

border: none;
background-color: transparent;
color: #ffff;

}

.message{
    left:70px;
    background-color:#999c99;
    width: 300px;
    height: 150px;
}
input{
    left:70px;
    background-color:#999c99;
    width: 300px;
    height: 20px;
}



body{
    position: center;
    margin: 10%;
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

label{
    position: inherit;
    font-size: 27px;
    font-family: Jost-Semi;
    color: #ffff;
}


.card{
    position:relative;
    width: 400px;
    justify-content: center;    
    border-radius: 20px;
    margin: 0 auto;
    padding: 25px 0 25px 50px;
    background-color: #343a40;

 
}

h3{
    
        font-family: Jost-Semi;
        color: #ffff;
    
}

a{

        font-family: Jost-Semi;
        color: #999c99;
    
}
