
.typings{
margin: 0 auto;
width: 584px;
height: 198px;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;
letter-spacing: -0.015em;
padding-top: 300px;
padding-bottom: 470px;
color: #DADD98;
};
